# Virtual environments
venv/
.venv/
env/

# Compiled Python files
*.pyc
__pycache__/

# Build/distribution files
build/
dist/
*.egg-info/
*.egg

# Editor/IDE specific files
.vscode/
.idea/

# Log files
*.log

# Temporary files
.DS_Store

# Sensitive information
.env

# code folders
checkpoints/
models/
